#top-right-button {
    position: absolute;
    top: 70px;    
    right: 100px;
    

}
#cabecera {
    background-color: green;
    color: white;
    padding: 40px; 
}

#search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 300px;
}

#search-bar {
    display: flex;
    align-items: center;
    margin: -130px auto;
    margin-bottom: 0; 
    justify-content: center;
    position: static; 
    
}
#search-bar button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-left: none;
    background-color:green;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}