.tittle-up {
    width: 300px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
}

.form-group {
    display: flex;
    flex-direction: column; /* Esto pone el label encima del input */
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"], input[type="password"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#btn-login {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}